#RAN SETTING

#script config refresh
#default auto refresh
script_refresh = 1
#refresh time that default is 30s, ignore if script refresh is not 1
script_refresh_time = 3

#multi thread communication by file socket, the socket folder
#you can set the value, for example '/data/socket_folder'
socket_folder = tmp
#multi progress communication by tcp socket, the socket config
socket_port = 7664

#log config includes file log and udp log
#file log folder
file_log_folder = log
#udp log config
udp_log_host = 121.42.153.188
udp_log_port = 5202