#RAN SETTING

#script config refresh
#default not auto refresh
script_refresh = no
#refresh time that default is 30s, ignore if script refresh is not 1
script_refresh_time = 30

#multi thread communication by file socket, the socket folder
#you can set the value, for example '/data/socket_folder'
socket_folder = tmp
#multi progress communication by tcp socket, the socket config
socket_port = 7664

#log config includes file log and udp log
#file log folder
log_file_folder = log
#udp log config
log_udp_host = 121.42.153.188
log_udp_port = 5202